/*
Challenge:
Set the width of the image to 150px.
PS: Use a class to select the img element.
*/

/*
Challenge:
1. Give the card div a class (name it "card")
2. Select the card class and give it a dotted blue border
3. Add 20 pixels of padding on all sides of the card
*/

/* <!-- 
Challenge:
Use what you've just learned to fix our card's broken 
column layout (make it two-column instead of four-column)
 --> */

 /*
Challenge:
Create a utility class for the dotted blue border.
Give the class to both flexbox children in the HTML.
*/

/*
    Challenge:
    Add horizontal space around the flex children.
    Hint: google "justify content"
    */

/*
    Challenge:
    Give the card a width of 400px wide and center it.
    */
/*
Challenge:
Center the text in the <p> and <h4> elements.

Note: you should only add ONE property, as inheritance 
should take care of applying it to both elements.
*/

/* 
    Challenge:
    Add colors to the card according to the design.
    black - #2b2839 (the text color)
    blue - #ddebf8
    purple - #d8cefe
    */
 /* 
    Challenge:
    Replace the two margin properties with a 
    single margin shorthand.
    */

body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.profile-img {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    
    padding: 20px;
    display: flex;
    justify-content:space-around;
    text-align: center;

    color: #2b2839;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe ;  
}

/* Digital Business Card Completed */


